fieldset 
{
    border: 1px solid #ddd !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;       
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
}   
    
legend
{
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 35%; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #ffffff;
}


.label-arrow {
    position: relative;
    padding: .4em .6em .3em;
}

.label-arrow-right {
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    margin-right:10px;
}
  
.label-arrow-right:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-left-color:#999;
    border-width: 9px;
    margin-top: -9px;
    
}

.label-arrow-left {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    margin-left:10px;
}

.label-arrow-left:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-right-color:#999;
    border-width: 10px;
    margin-top: -10px;
}

h4 .label-arrow-left {
    margin-left:18px;
}

h4 .label-arrow-left:before {
    border-width: 13px;
    margin-top: -13px;
}

.label-primary.label-arrow:after {
    border-left-color:#428bca;
}
.label-primary.label-arrow:before {
    border-right-color:#428bca;
}

.label-success.label-arrow:after {
    border-left-color:#5cb85c;
}
.label-success.label-arrow:before {
    border-right-color:#5cb85c;
}

.label-warning.label-arrow:after {
    border-left-color:#f0ad4e;
}
.label-warning.label-arrow:before {
    border-right-color:#f0ad4e;
}

.label-danger.label-arrow:after {
    border-left-color:#d9534f;               
} 
.label-danger.label-arrow:before {
    border-right-color:#d9534f;               
} 

.label-info.label-arrow:after {
    border-left-color:#5bc0de;
} 
.label-info.label-arrow:before {
    border-right-color:#5bc0de;
}